Package: com.lucianoscarpaci.ytmusic++
Name: YTMusic++
Architecture: iphoneos-arm
Description: Pop Art Theme for Youtube Music, [+] No Ads, and Background Playback
Maintainer: lucianoscarpaci
Author: lucianoscarpaci
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.7
Installed-Size: 216
